<div class="vue-html5-editor" :style="{'z-index':zIndex}" :class="{'full-screen':fullScreen}">
    <div class="toolbar" :style="{'z-index':zIndex+1}" v-el:toolbar>
        <ul>
            <template v-for="btn in btns">
                <li v-if="btn.action=='execCommand'" :title="btn.title" @click="execCommand(btn.arg)">
                    <span class="icon" :class="icons[btn.name]"></span>
                </li>
                <li v-if="btn.action=='toggleDashboard'" :title="btn.title" @click="toggleDashboard(btn.arg)">
                    <span class="icon" :class="icons[btn.name]"></span>
                </li>
            </template>
            <li title="全屏" @click="fullScreen=!fullScreen" v-if="!disableFullScreen">
                <span class="icon" :class="icons['fullScreen']"></span>
            </li>
        </ul>
        <div class="dashboard" v-show="dashboard" :style="dashboardStyle">
            <dashboard-link v-show="dashboard=='link'"></dashboard-link>
            <dashboard-image v-show="dashboard=='image'" :config="image"></dashboard-image>
            <dashboard-color v-show="dashboard=='color'"></dashboard-color>
            <dashboard-table v-show="dashboard=='table'"></dashboard-table>
        </div>
    </div>
    <div class="content" v-el:content contenteditable="true" @click="toggleDashboard(dashboard)"
         :style="contentStyle">
    </div>
</div>
